* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none;
  outline: 0; }

.inner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, #0b072c, #6e41a1); }
  .inner header h1 {
    position: absolute;
    top: 5vh;
    left: 5vw;
    font-size: 0;
    z-index: 2;
    text-align: center; }
    .inner header h1 strong {
      font: bold 36px/1.4 'arial';
      color: #dac50b; }
    .inner header h1 span {
      display: block;
      font: 12px/1 'arial';
      color: #806d00;
      opacity: 0.8;
      letter-spacing: 1px; }
  .inner nav {
    position: absolute;
    top: 5vh;
    right: 5vw; }
    .inner nav i {
      font-size: 24px;
      color: #806d00;
      cursor: pointer; }
  .inner section {
    width: 20vw;
    height: 65vh;
    position: absolute;
    left: 40%;
    top: 120%;
    transition: 1s;
    opacity: 0.8; }
    .inner section article {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px; }
      .inner section article .inner {
        width: 100%;
        height: 100%;
        background: #d4c840;
        padding: 5vh 2.5vw 5vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: space-between;
        border-radius: 10px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
        transform: scale(0.8);
        opacity: 0.6;
        transition: opacity 1s, transform 1s; }
        .inner section article .inner .pic {
          width: 15vw;
          height: 15vw;
          border-radius: 50%;
          background: lightgray;
          background-repeat: no-repeat;
          background-position: 200%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative; }
          .inner section article .inner .pic.on::after {
            animation: ani 4s linear infinite; }
          .inner section article .inner .pic.on::before {
            animation: ani2 4s linear infinite; }
          .inner section article .inner .pic::before, .inner section article .inner .pic::after {
            content: '';
            display: block;
            width: inherit;
            height: inherit;
            border-radius: inherit;
            position: absolute;
            top: 0px;
            left: 0px;
            background-image: inherit;
            background-repeat: inherit;
            background-position: center;
            background-size: cover; }
          .inner section article .inner .pic::before {
            transform: translateY(10%);
            filter: blur(20px) brightness(1.6); }
          .inner section article .inner .pic .dot {
            width: 3vw;
            height: 3vw;
            border-radius: 50%;
            background: #d4c840;
            z-index: 2;
            box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1); }
        .inner section article .inner .txt {
          text-align: center;
          position: relative;
          z-index: 3; }
          .inner section article .inner .txt h2 {
            font: bold 20px/1 'arial';
            color: #222;
            margin-bottom: 2vh; }
          .inner section article .inner .txt p {
            font: 12px/1 'arial';
            color: #555;
            margin-bottom: 2vh; }
          .inner section article .inner .txt ul {
            display: flex;
            justify-content: space-around; }
            .inner section article .inner .txt ul li {
              cursor: pointer;
              opacity: 0.6;
              transition: 0.5s; }
              .inner section article .inner .txt ul li.play {
                transform: scale(1.5);
                opacity: 0.9; }
              .inner section article .inner .txt ul li:hover {
                transform: scale(1.5);
                opacity: 0.9; }
                .inner section article .inner .txt ul li:hover.play {
                  transform: scale(2);
                  opacity: 1; }
      .inner section article.on .inner {
        opacity: 0.9;
        transform: scale(1.1); }
  .inner .btnPrev {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20vw, -50%);
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    cursor: pointer; }
    .inner .btnPrev::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: yellow;
      position: absolute;
      top: 50%;
      left: 0px;
      transform-origin: left center;
      transform: rotate(-180deg);
      transition: 0.5s; }
    .inner .btnPrev::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: yellow;
      position: absolute;
      top: 50%;
      left: 0px;
      transform-origin: left center;
      transform: rotate(180deg);
      transition: 0.5s; }
    .inner .btnPrev span {
      font: 11px/1 "arial";
      color: yellow;
      opacity: 1;
      transform: translateX(30%);
      transition: 0.5s; }
    .inner .btnPrev:hover::before {
      transform: rotate(-30deg); }
    .inner .btnPrev:hover::after {
      transform: rotate(30deg); }
    .inner .btnPrev:hover span {
      opacity: 0;
      transform: translateX(100%); }
  .inner .btnNext {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(20vw, -50%);
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    cursor: pointer; }
    .inner .btnNext::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: yellow;
      position: absolute;
      top: 50%;
      left: 0px;
      transform-origin: right center;
      transform: rotate(180deg);
      transition: 0.5s; }
    .inner .btnNext::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: yellow;
      position: absolute;
      top: 50%;
      left: 0px;
      transform-origin: right center;
      transform: rotate(-180deg);
      transition: 0.5s; }
    .inner .btnNext span {
      font: 11px/1 "arial";
      color: yellow;
      opacity: 1;
      transform: translateX(20%);
      transition: 0.5s; }
    .inner .btnNext:hover::before {
      transform: rotate(30deg); }
    .inner .btnNext:hover::after {
      transform: rotate(-30deg); }
    .inner .btnNext:hover span {
      opacity: 0;
      transform: translateX(-100%); }
@keyframes ani {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes ani2 {
  0% {
    transform: translateY(10%) rotate(0deg); }
  100% {
    transform: translateY(10%) rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
